**/karabiner/automatic_backups/
**/.DS_Store

# config-link 是像 .zshrc 等的 ln 過來的設定檔統一放的一個資料夾
**/config-link/*
!**/config-link/.gitkeep

# just-run 用來放給 sublime-text 的 build-system 使用的檔案們
**/just-run/*
!**/config-link/.gitkeep

node_modules/
