  .mainView .mainViewContent .package.package_outlook1 {
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation: shake1 7s infinite;
    animation: shake1 7s infinite;
  }


  @-webkit-keyframes shake1 {
    0% {
      -webkit-transform: rotateZ(-10deg);
      transform: rotateZ(-10deg);
    }
    50% {
      -webkit-transform: rotateZ(15deg);
      transform: rotateZ(15deg);
    }
    100% {
      -webkit-transform: rotateZ(-10deg);
      transform: rotateZ(-10deg);
    }
  }
  @keyframes shake1 {
    0% {
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
      transform: rotateZ(-10deg);
    }
    50% {
      -ms-transform: rotateZ(15deg);
      -webkit-transform: rotateZ(15deg);
      transform: rotateZ(15deg);
    }
    100% {
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
      transform: rotateZ(-10deg);
    }
  }